In [8]:
import pandas as pd
import numpy as np
data=pd.read_csv('data.csv')
data

       215    3   894  2
0     1255 -686  -690  2
1     -356 -313  1400  2
2      321  886   533  2
3     -172  564  1321  2
4     -321  231  1569  2
...    ...  ...   ... ..
1008   141  329   961  2
1009   113  290   964  2
1010    98  325   917  2
1011     0    0     0  0
1012     0    0     0  0

[1013 rows x 4 columns]

In [11]:
df=pd.DataFrame(data)
df.columns=['x-axis','y-axis','z-axis','number']
df

      x-axis  y-axis  z-axis  number
0       1255    -686    -690       2
1       -356    -313    1400       2
2        321     886     533       2
3       -172     564    1321       2
4       -321     231    1569       2
...      ...     ...     ...     ...
1008     141     329     961       2
1009     113     290     964       2
1010      98     325     917       2
1011       0       0       0       0
1012       0       0       0       0

[1013 rows x 4 columns]