In [1]:
import pandas as pd
import os

In [2]:
dataset='digits'
folder = './source'
target='number'

In [3]:
result = pd.DataFrame()
l=list()
for file in sorted(os.listdir(folder)):
    l.append("./source/"+file)
for file in l:
    df=pd.read_csv(file)
    df.to_csv('data.csv',mode='a',header=None,index=False)

In [4]:
df=pd.read_csv('data.csv')
df.columns=['x-axis','y-axis','z-axis','number']
df

           x-axis    y-axis     z-axis  number
0        1.569064  1.019892  10.355822       0
1       -1.216025 -1.647517  14.082349       0
2       -2.588956 -3.020448  14.239256       0
3       -4.354153 -3.491167  15.063014       0
4       -4.040340 -3.491167  14.278482       0
...           ...       ...        ...     ...
1214054 -6.707749 -5.962443   2.588956       9
1214055 -6.864655 -5.962443   2.745862       9
1214056 -7.100015 -6.237029   2.981222       9
1214057 -7.178468 -6.472389   3.138128       9
1214058 -7.374601 -6.629295   3.177355       9

[1214059 rows x 4 columns]

In [5]:
df.to_csv('data.csv',index=False)