In [61]:
import pandas as pd
import os

In [62]:
dataset='digits'
folder = './source'
target='number'

In [63]:
result = pd.DataFrame()
l=list()
for file in sorted(os.listdir(folder)):
    l.append("./source/"+file)
for file in l:
    df=pd.read_csv(file)
    df.to_csv('data.csv',mode='a',header=None,index=False)

In [65]:
df=pd.read_csv('data.csv')
df.columns=['x-axis','y-axis','z-axis','number']
df

          x-axis    y-axis     z-axis  number
0       1.569064  1.019892  10.355822       0
1      -1.216025 -1.647517  14.082349       0
2      -2.588956 -3.020448  14.239256       0
3      -4.354153 -3.491167  15.063014       0
4      -4.040340 -3.491167  14.278482       0
...          ...       ...        ...     ...
530975 -4.785645  1.686744   7.845320       9
530976 -4.824872  1.686744   7.806093       9
530977 -4.824872  1.647517   7.923773       9
530978 -4.785645  1.647517   7.806093       9
530979 -4.864098  1.647517   7.688414       9

[530980 rows x 4 columns]

In [66]:
df.to_csv('data_f.csv',index=False)